<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Report</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>Report Log</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Jpg to Word</a></li>
                    <li><a href="/report_log">Report Log</a></li>
                    <li><a href="/chart">Chart</a></li>
                    <li><a href="/login">Account</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <button onclick="goBack()">
        <i class="fas fa-arrow-left"></i>Back
    </button> -->

    <h1>Similarity Comparison Chart</h1>
   

    {% if graph_url %}
        <img src="data:image/png;base64,{{ graph_url }}" alt="Chart">
    {% else %}
        <p>No chart available.</p>
    {% endif %}

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
