<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Form đăng nhập -->
        <!-- Form đăng nhập -->
        <div class="form-box login">
            <form id="login-form">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required>
                    <i class="bx bxs-user"></i>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="bx bxs-lock"></i>
                    <i class="bx bxs-lock"></i>
                </div>
                <div class="forgot-link">
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <p>or login with social platforms</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook-circle"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook-circle"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                </div>
            </form>
        </div>

        <!-- Form đăng ký -->

        <!-- Form đăng ký -->
        <div class="form-box register">
            <form action="{{ url_for('register') }}" method="POST">
            <form action="{{ url_for('register') }}" method="POST">
                <h1>Register</h1>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required>
                    <i class="bx bxs-user"></i>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="bx bxs-envelope"></i>
                    <i class="bx bxs-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="bx bxs-lock"></i>
                    <i class="bx bxs-lock"></i>
                </div>
                <button type="submit" class="btn register-btn">Register</button>
                <p>or register with social platforms</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook-circle"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook-circle"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                </div>
            </form>
        </div>

        <!-- Toggle panel -->

        <!-- Toggle panel -->
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Hello Wellcome</h1>
                <p>Don't have an account ?</p>
                <button class="btn register-btn">Register</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Wellcome Back</h1>
                <p>Already have an account ?</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".register-btn").click(function (e) {
                e.preventDefault();
                if ($('.container').hasClass('active')) {
                    const username = $(".register input[name='username']").val();
                    const email = $(".register input[name='email']").val();
                    const password = $(".register input[name='password']").val();
                    if (username && email && password) {
                        $.ajax({
                            url: "{{ url_for('register') }}",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                username: username,
                                email: email,
                                password: password
                            }),
                            success: function (response) {
                                alert("Đăng ký thành công!");
                            },
                            error: function (error) {
                                alert("Đăng ký thất bại, vui lòng thử lại.");
                            }
                        });
                    } else {
                        alert("Vui lòng điền đầy đủ thông tin.");
                    }
                } else {
                    $('.container').addClass('active');
                }
            });
        $(document).ready(function () {
            $(".register-btn").click(function (e) {
                e.preventDefault();
                if ($('.container').hasClass('active')) {
                    const username = $(".register input[name='username']").val();
                    const email = $(".register input[name='email']").val();
                    const password = $(".register input[name='password']").val();
                    if (username && email && password) {
                        $.ajax({
                            url: "{{ url_for('register') }}",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                username: username,
                                email: email,
                                password: password
                            }),
                            success: function (response) {
                                alert("Đăng ký thành công!");
                            },
                            error: function (error) {
                                alert("Đăng ký thất bại, vui lòng thử lại.");
                            }
                        });
                    } else {
                        alert("Vui lòng điền đầy đủ thông tin.");
                    }
                } else {
                    $('.container').addClass('active');
                }
            });

            $("#login-form").submit(function (e) {
                e.preventDefault();
                if (!$('.container').hasClass('active')) {
                    const username = $("input[name='username']").val();
                    const password = $("input[name='password']").val();
                    if (username && password) {
                        $.ajax({
                            url: "/login",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                username: username,
                                password: password
                            }),
                            success: function (response) {
                                if (response.message === "Login successful.") {
                                    alert("Đăng nhập thành công!");
                                    window.location.href = "/";
                                } else {
                                    alert(response);
                                }
                            },
                            error: function (error) {
                                alert("Đăng nhập thất bại, vui lòng thử lại.");
                            }
                        });
                    } else {
                        alert("Vui lòng nhập đầy đủ thông tin đăng nhập.");
                    }
                } else {
                    $('.container').removeClass('active');
                }
            });
        });
    </script>
</body>
</html>

